{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "globals": {
    "React": "writable"
  },
  "ignorePatterns": [".github/", "public/"],
  "rules": {
    "react/prop-types": "off",
    "react/no-unescaped-entities": 0,
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": 0,
    "prettier/prettier": "error"
  }
}
