* {
  margin: 0px;
  padding: 0px;
}
.markdown {
  white-space: pre-line;
}
.css-1sgvrjw-MuiFormControl-root-MuiTextField-root {
  border: none !important;
}
/* .blogsSerachBorder {
  border-color: transparent !important;
} */
